@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.App {
  text-align: center;
}

body {
  padding: 0%;
  margin: 0%;
  font-family: "Open Sans", sans-serif;
  /* background-color: aquamarine; */
}

nav {
  display: flex;
  justify-content: center;
  text-decoration: none;
  border-bottom: black 1px solid;
  padding: 12px;
  /* background-color: grey; */
}

form{
  display: flex;
  flex-direction: column;
}

form label{
margin: 10px;
}


nav>* {
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  color: black;
  border: solid 1px blue;
  border-radius: 7px;
}

.table {
  /* border-bottom:solid 1px black; */
}

.table>div:first-child {
  background-color: rgba(128, 128, 128, 0.144);
  font-weight: bold;
  font-size: 20px;
}

.table>div {
  display: flex;
  justify-content: flex-start;

}

.table>div p {
  padding: 0px 35px;
  margin: 5px;
  width: 80px;
}

.table>div>button {
width: 120px;
padding:5px;
margin: 20px;
}



.update_tb{
border-bottom: solid 1px black;
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 100%;
}

.first{
  width:60%;
  border-right: black solid 1px;
}

.table_2 {
  display: flex;
  flex-direction: column;
  align-content: space-be

  }

.table_2>button {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  padding:5px;
  margin: 20px;
  }

  .table_2>div{
    display: flex;
    flex-direction: row;

    background-color: rgb(211, 208, 208);
  }
  .table_2>div>p{
    margin: 20px;
font-size: 18px;
font-weight: bold;
  }
  
  .table_2>button>p {
    margin: 20px;
  }
